{% extends 'base.html' %}

{% block titulo %}
    About
{% endblock titulo %}

{% block contenido %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Acerca de nosotros</h1>
        <p class="lead my-3">Somos una empresa creada para revolucionar la industria del estampado textil. Garantizamos la calidad de nuestras prendas y estampados.</p>
      </div>
    </div>
  
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="blog-post-title">CAMISETAS PERSONALIZADAS TENDENCIAS</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
          <p>Si usted es un creativo en el arte de los estampados de camisetas este se convertirá en su post favorito, o por lo menos le ayudará a planificar sus próximos diseños.</p>
          <hr>
          <h3>PERSONALIZA TU PRODUCTO</h3>
          <p>Esta es la oportunidad que estabas esperando, al mejor estilo te va destacar del resto de los espectadores, adquiere una camiseta exclusiva en etsa variedad de estampados: </p>
          <ul>
            <li>Caricaturas</li>
            <li>Bandas</li>
            <li>Deportivos</li>
          </ul>
          <p>Y muchos mas...</p>
          <h2>5 RAZONES POR LAS QUE DEBERÍAS PERSONALIZAR UNA CAMISETA</h2>
          <p>La camiseta es una de las prendas más utilizadas a nivel mundial, para muchas personas se ha convertido fundamental en su armario, mientras que para otros solamente ha sido la adaptación moderna del momento.</p>
          <li>A tu banda favorita le gusta esto.</li>
          <li>Ser exclusivo es cuestión de actitud.</li>
          <li>Una forma de plasmar tus ideas.</li>
          <li>na manera de expresar lo que sientes.</li>
          <li>Un regalo diferente</li>
        </article>
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">TIPS PARA CUIDAR EL ESTAMPADO DE TU CAMISETA</h4>
            <li>A tu banda favorita le gusta esto.</li>
          <li>Lavar a mano, no frotar el área del estampado.</li>
          <li>No dejar en remojo.</li>
          <li>Lavado delicado por el revés.</li>
          <li>No usar cloro.</li>
          <li>No retorcer.</li>
          <li>Planchar por el revés</li>
          <li>No lavar en seco.</li>
          <li>No usar secadora.</li>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock contenido %} 