<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>
        {% block titulo %}
        {% endblock titulo %}
    </title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="/static/img/logoModern.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <a class="nav-link active" aria-current="" href="{% url 'home_view' %}">Home</a>
                  <a class="nav-link" href="{% url 'about_view' %}">About</a>
                  <a class="nav-link" href="{% url 'shirt_print_view' %}">shirt print</a>
                  <a class="nav-link" href="{% url 'shirts_view' %}">Shirts</a>
                  <a class="nav-link" href="{% url 'fabrics_view' %}">Fabrics</a>
                  <a class="nav-link" href="{% url 'contact_view' %}">Contact</a>
                  

                  {% if request.user.is_authenticated %}
                      <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
                  {% else %}
                      <a class="nav-link" href="{% url 'login_view' %}">Login</a>
                  {% endif %}
                      <a class="nav-link" href="">{{ request.user }}</a> 

                  <a class="nav-link" href="{% url 'register_view' %}">Register</a>
             </div>
          </div>
      </div>
    </nav>-->
    

    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/img/logoModern.png" alt="">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_view' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_view' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shirt_print_view' %}">Shirt print</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shirts_view' %}">Shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'fabrics_view' %}"> Fabrics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_view' %}">Contact</a>
              </li>

              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login_view' %}">Login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="">{{ request.user }}</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register_view' %}">Register</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      

      <div class="container">
        {% block contenido %}
        {% endblock %}
    </div> 

</body>
</html>