{% extends 'base.html' %}

{% block titulo %}
Contact
{% endblock titulo %}

{% block contenido %}
<body class="text-center">
    
    {% if enviado %}
     <h2>Informacion suministrada</h2>
        {{ email }} <br>
        {{ title }} <br>
        {{ text }}
    {% else %}
     <h2>contactanos</h2>
    
    
        <main class="form-signin">
            <form action="" method="POST">
            <div class="form-floating">
                {% csrf_token %}
            </div>
            <div class="form-floating">
                {{ formulario.as_p }}
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
          </form>
        
        <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body>
       </form>
    {% endif %}
{% endblock %}