{% extends 'base.html' %}

{% block titulo %}
Shirts print 
{% endblock titulo %}

{% block contenido %} 
   <h1>shirt print data list</h1> 
   <a href="{% url 'add_shirt_print_view' %}" class="btn btn-primary">Add shirt print</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Type of fabric</th>
          <th scope="col">Shirt type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
         {% for p in listShirtPrint %}
         <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.Nombre }}</td>
            <td>{{ p.Talla }}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.pedido }}</td>
            <td>
              <a href="{% url 'see_shirt_print_view' id_print=p.id %}" class="btn btn-info">See</a>
              <a href="{% url 'edit_shirt_print_view' id_print=p.id %}" class="btn btn-warning">Edit</a>
              <a href="{% url 'remove_shirt_print_view' id_print=p.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock contenido %}