{% extends 'base.html' %}

{% block titulo %}
Shirt data list
{% endblock titulo %}

{% block contenido %} 
   <h1>shirt data list</h1> 
   <a href="{% url 'add_tShirt_view' %}" class="btn btn-primary">Add shirt type</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name </th>
          <th scope="col">Entry date</th>
          <th scope="col">Type of fabric</th>
          <th scope="col">Quantities</th>
        </tr>
      </thead>
      <tbody>
         {% for p in listShirts %}
         <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.Nombre }}</td>
            <td>{{ p.Fecha_Entrada }}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.Cantidad }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock contenido %}